{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue sur Carhub</h1>
        <p>Nous sélectionnons nos véhicules avec un soin particulier : De l’entretien du véhicule, à son état en passant par son prix, nous vous proposons des voitures de premier choix en essayant de vous offrir à chaque fois, le meilleur prix. 

Pour cela, nous comptons parmi nos partenaires de nombreux garages européens, en majeure partie français et allemands. Nous négociations chaque jour de nouvelles collaborations afin de vous proposer un des meilleurs rapport qualité-prix du marché.

Notre équipe s’occupe de toutes les démarches possibles pour vous faciliter la vie, et rendre plus simple l’acquisition de votre véhicule.

Axé sur des véhicules premium la plupart du temps, le corps de notre activité repose sur des voitures de marques allemandes (Audi, BMW, Mercedes-Benz, Volkswagen, Porsche) mais aussi Range Rover, Jaguar, Volvo, Nissan, etc.</p>
    </div>
    <div class="container">
        <h2>Les produits récents</h2>
            <div class="row flex">
                {% for produit in produits %}
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ path('produit.show', {id: produit.id, slug: produit.slug}) }}">{{ produit.titre }}</a>
                                </h5>
                                <p class="card-text">{{ produit.marque }} ({{ produit.type }})</p>
                                <div class"text-primary" style="font-weight: bold;font-size: 2rem;">{{ produit.FormattedPrix }} $</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}