<div class="card mb-4">
    {% if produit.filename %}
            <img src="{{ vich_uploader_asset(produit, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:  auto;">

        {% else %}
            <img src="{{ '/image/produit/default_img.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height: auto;">

    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('produit.show', {slug: produit.slug, id: produit.id}) }}">
                {{ produit.titre }}
            </a>
        </h5>
        <p class="card-text">{{ produit.marque }} - {{ produit.type }}</p>
        <p class="card-text">{{ produit.description | nl2br }}</p>
        <div class="text-primary" style="font-size: 2rem; font-weight: bold">
            {{ produit.FormattedPrix }} $
        </div>
    </div>
</div>

